{% extends 'base.html' %}

{% block title %}
    피드
{% endblock %}

{% block content %}
{% for tweet in tweets %}
<div class="card mb-3">
    <div class="card-header">
        <a href="{% url 'follow' tweet.user.id %}">{{ tweet.user }}</a>
    </div>
    <div class="card-body">
        {% if tweet.image %}
        <a href="{% url 'tweet_detail' tweet.id %}"><img src="{{ tweet.image.url }}"></a>
        {% endif %}
        <a class="card-text" href="{% url 'tweet_detail' tweet.id %}">{{ tweet.content }}</a>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'like' tweet.id %}">좋아요:{{ tweet.like.count }}</a>
        작성일: {{ tweet.created_at }}
    </div>
</div>
{% endfor %}
{% endblock %}