{% extends 'base.html' %}

{% block title %}
    마이페이지
{% endblock %}

{% block content %}
{% for tweet in tweets %}
<div class="card mb-3">
    <div class="card-header">
        <a href="">{{ tweet.user }}</a>
    </div>
    <div class="card-body">
        <a class="card-text" href="{% url 'tweet_detail' tweet.id %}">{{ tweet.content }}</a>
    </div>
    <div class="card-footer text-muted">
        작성일: {{ tweet.created_at }}
    </div>
</div>
{% endfor %}
<a class="btn btn-primary" href="{% url 'edit_profile' %}">회원정보 수정하기</a>
{% endblock %}